p{
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-left: 230px;
}

img{
    width: 210px;
    height: 300px;
    margin-top: -160px;
}
.sedang{
    margin-left: auto;
}